.container.searchbox {
	margin-top: 38px;
	margin-bottom: 12px;
}

.searchbox input {
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	outline: none;
}

.searchbox button {
	outline: none;
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}
