.card {
	box-sizing: border-box;
	width: calc(20% - 24px);
	border: 2px solid green;
	margin: 12px;
	background-color: #333;
	padding: 12px;
	position: relative;
}

.card.selected {
	border: 5px solid #1e8faa;
}

.card img {
	width: 100%;
	display: block;
}

.card-info__name {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.card-info__name span {
	width: 100%;
	display: block;
	font-weight: normal;
	font-size: 12px;
}

.card-info__details {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
}

.card-info__details span {
	font-weight: normal;
}

.card button.favourite {
	position: absolute;
	top: 12px;
	left: 12px;

	background-color: #1e8faa;
	color: #fff;
	border: 1px solid #fff;
	outline: none;
	cursor: pointer;
	display: none;
}

.card:hover button.favourite {
	display: block;
}
